{% for book in books %}
	<div class="col-md-3 d-flex justify-content-center">
		<div class="card" style="width: 19rem;">
			{% if book.old_price: %}
				<div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
			{% endif %}
			<a href="{{ url_for('show_pdp', book_id=book.id) }}">
				<img alt="Book" class="img mx-auto d-block mt-3" src="{{ book.img_url }}" width="130px" height="185px">
			</a>
			<div class="card-body">
				<hr>
				{% if book.old_price: %}
					<h5 style="display: inline-block;">${{book.price|two_decimal}}</h5>
					<h6 class="card-title text-muted text-decoration-line-through" style="display: inline-block;">${{ book.old_price|two_decimal }}</h6>
				{% else: %}
					<h5 class="card-title">${{ book.price|two_decimal }}</h5>
				{% endif %}
				<a href="{{ url_for('show_pdp', book_id=book.id) }}"  style="text-decoration: none; color:black;">
					<h6 class="card-subtitle mb-2 fw-bold">{{ book.title }}</h6>
				</a>
				<h6 class="card-subtitle mb-2 text-muted">{{ book.format }}</h6>
				<div class="d-flex align-items-center">
					<form action="/add-to-cart" method="post" class="mb-0">
						<input type="hidden" name="item_id" value="{{book.id}}">
						<button type="submit" role="button" class="btn btn-success card-link py-2 px-4">Add to cart</button>
					</form>
					<form action="/add-to-wishlist" method="post" class="mb-0 px-4">
						<input type="hidden" name="item_id" value="{{book.id}}">
						<button type="submit" role="button" title="Add to wishlist" class="btn btn-outline-warning card-link ml-2">
							<i class="fa-solid fa-heart"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
