{% include "header.html" %}
<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card rounded-4">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="px-5 py-4">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        {% if cart_count == 1: %}
                                            <h6 class="mb-0 text-muted">{{cart_count}} item</h6>
                                        {% elif cart_count > 1: %}
                                            <h6 class="mb-0 text-muted">{{cart_count}} items</h6>
                                        {% endif %}

                                    </div>
                                    <hr class="my-4">
                                    {% if cart_count == 0: %}
                                        <p>Your cart is empty</p>
                                        <button  type="button" class="btn btn-outline-success btn-block btn-md">
                                            <a href="{{url_for('homepage')}}" style="text-decoration:none;color: inherit; display: block; width: 100%; height: 100%;">
                                                Continue shopping
                                            </a>
                                        </button>
                                    {% else: %}
                                        {% for book in cart_items: %}
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="{{book.img_url}}"
                                                        class="img-fluid rounded-3" alt="Book">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h5 class="text-black mb-0">{{book.title}}</h5>
                                                    <h6 class="text-muted">{{book.format}}</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    <form action="/decrease-quantity" method="post" class="mb-0">
                                                        <input type="hidden" name="item_id" value="{{book.id}}">
                                                        {% if cart_items_count[book.id] == 1: %}
                                                            <button type="submit" role="button" class="btn card-link py-2 px-2" disabled
                                                                style="border: none;">
                                                                <i class="fas fa-minus" style="color: #198754"></i>
                                                            </button>
                                                        {% else: %}
                                                            <button type="submit" role="button" class="btn card-link py-2 px-2">
                                                                <i class="fas fa-minus" style="color: #198754"></i>
                                                            </button>
                                                        {% endif %}
                                                    </form>

                                                    <div class="form-control form-control-sm text-center quantity py-2"
                                                        style="font-size: 18px;">{{cart_items_count[book.id]}}
                                                    </div>
                                                    <form action="/increase-quantity" method="post" class="mb-0">
                                                        <input type="hidden" name="item_id" value="{{book.id}}">
                                                        <button type="submit" role="button" class="btn card-link py-2 px-2">
                                                            <i class="fas fa-plus" style="color: #198754"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h5 class="mb-0">${{ book.price * cart_items_count[book.id] }}</h5>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <form action="/remove-item-cart" method="post" class="mb-0">
                                                            <input type="hidden" name="item_id" value="{{book.id}}">
                                                            <button type="submit" role="button" class="btn card-link py-2 px-4">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

<!--                                    <hr class="my-4">-->
                                </div>
                            </div>

    <!--                            Summary-->
                            <div class="col-lg-4 bg-success text-white rounded-end-4">
                                <div class="p-5 py-4">
                                    <h3 class="fw-bold mb-4 mt-2 pt-1">Summary</h3>
                                    <!-- <hr class="my-4"> -->

                                    <!-- <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">items 3</h5>
                                        <h5>$ 132.00</h5>
                                    </div> -->

                                    <!-- <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select data-mdb-select-init>
                                            <option value="1">Standard-Delivery- $5.00</option>
                                            <option value="2">Free Delivery to the library</option>
                                        </select>
                                    </div> -->
        <!--
                                    <h5 class="text-uppercase mb-3">Have you got a promo code?</h5>

                                    <div class="mb-5">
                                        <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                                        </div>
                                    </div> -->

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>$ {{total}}</h5>
                                    </div>
                                    <div class="d-grid gap-3">
                                        <a href={{url_for('checkout')}}>
                                            <button type="button" class="btn btn-light btn-lg px-5">Checkout</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}