{% include "header.html" %}
	<div class=" container">
		<h1 class="h3 mb-3 fw-normal text-center">Frequently Asked Questions</h1>

		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        1. Lorem Ipsum
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<strong>This is the first item's accordion body.</strong>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ipsum nibh. In ac porttitor neque. Etiam varius rhoncus leo eu finibus.
						Etiam nisi felis, posuere sit amet orci sed, consectetur rutrum augue. Vestibulum sodales ante tellus, eu tincidunt ligula porttitor eu.
						Aliquam elementum elit vel diam dignissim lobortis. Morbi id mollis lectus. Vivamus tincidunt lobortis enim eu scelerisque.
						Donec eu urna arcu. Nunc varius dignissim mollis.
					</div>
				</div>
			</div>
		</div>
	</div>

{% include "footer.html" %}