{% include "header.html" %}

    <!-- Main Screen --->
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <picture>
                    <source media="(max-width: 768px)" srcset="/static/img/mobile_slide_1.jpg">
                    <source media="(min-width: 769px)" srcset="/static/img/slide_1.jpg">
                    <img class="bd-placeholder-img d-block w-100" src ="/static/img/slide_1.jpg" aria-hidden="true">
                </picture>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <div class="carousel-caption-bg"></div>
                        <h1 class="carousel-title">Unlock Your 30% Discount!</h1>
                        <p class="opacity-80 carousel-text">Sign up now and enjoy a 30% discount on your first purchase.</p>
                        <p><a class="btn btn-lg btn-success px-3 py-2" href="{{url_for('sign_up')}}">Sign Up Today</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/static/img/mobile_slide_2.jpg">
                    <source media="(min-width: 769px)" srcset="/static/img/slide_2.jpg">
                    <img class="bd-placeholder-img d-block w-100" src ="/static/img/slide_2.jpg" aria-hidden="true">
                </picture>
                <div class="container">
                    <div class="carousel-caption">
                        <div class="carousel-caption-bg"></div>
                        <h1 class="carousel-title">Join Our Book Clubs</h1>
                        <p class="opacity-80 carousel-text">Discover and join local book clubs for engaging discussions and community gatherings.</p>
                        <p><a class="btn btn-lg btn-success px-3 py-2" href="#">Learn More</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <picture>
                    <source media="(max-width: 768px)" srcset="/static/img/mobile_slide_3.jpg">
                    <source media="(min-width: 769px)" srcset="/static/img/slide_3.jpg">
                    <img class="bd-placeholder-img d-block w-100" src ="/static/img/slide_3.jpg" aria-hidden="true">
                </picture>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <div class="carousel-caption-bg"></div>
                        <h1 class="carousel-title">Enjoy Free Shipping</h1>
                        <p class="opacity-80 carousel-text">Enjoy free shipping on your orders and conveniently pick them up at the nearest library.</p>
                        <p><a class="btn btn-lg btn-success px-3 py-2" href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Product section -->

    <div class="py-3 px-3">
        <div class="container">
            <h3 class="fw-bold mb-sm-3 mb-md-5 text-center text-md-start text-success py-3">New books</h3>
            <div class="row g-4">
                {% for book in books %}
                    <div class="col-md-3 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img alt="Book" class="img mx-auto d-block mt-3" src="{{ book.img_url }}" width="130px" height="185px">
                            <div class="card-body">
                                <hr>
                                <h5 class="card-title">${{ book.price }}</h5>
                                <h6 class="card-subtitle mb-2 fw-bold">{{ book.title }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">{{book.format}}</h6>
                                <div class="d-flex align-items-center">
                                    <form action="/add-to-cart" method="post" class="mb-0">
                                        <input type="hidden" name="item_id" value="{{book.id}}">
                                        <button type="submit" role="button" class="btn btn-success card-link py-2 px-4">Add to cart</button>
                                    </form>
                                    <form action="/add-to-wishlist" method="post" class="mb-0 px-4">
                                        <input type="hidden" name="item_id" value="{{book.id}}">
                                        <button type="submit" role="button" title="Add to wishlist" class="btn btn-outline-warning card-link ml-2">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- New section -->
    <div class="py-3 px-3">
        <div class="container py-5">
            <h3 class="fw-bold  text-center text-md-start mb-3 text-success">Why choose Us?</h3>
                <div class="row">

                    <div class="col-lg-4 col-md-6 d-flex align-items-center">
                        <div class="bg-white shadow-sm rounded-circle p-3">
                            <i class="fa-solid fa-money-bill fs-1 text-warning"></i>
                        </div>
                        <div class="ms-3 mt-md-5">
                            <h6 class="h6 fw-bold">Reasonable prices</h6>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                                eiusmor</p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 d-flex align-items-center">
                        <div class="bg-white shadow-sm rounded-circle p-3">
                            <i class="fa-solid fa-star  fs-1 text-warning"></i>
                        </div>
                        <div class="ms-3 mt-md-5">
                            <h6 class="h6 fw-bold">Best quality</h6>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                                eiusmor</p>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 d-flex align-items-center">
                        <div class="bg-white shadow-sm rounded-circle p-3">
                            <i class="fa-solid fa-plane  fs-1 text-warning"></i>
                        </div>
                        <div class="ms-3 mt-md-5">
                            <h6 class="h6 fw-bold">Worldwide shipping</h6>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
                                eiusmor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- blog post---->
        <!-- <div class="pb-5">
            <div class="container py-5">
                <h3 class="h3 fw-bold mb-3 text-center text-md-start mb-3">Blog posts</h3>
                <div class="row mt-md-5">

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <img alt="boxes" class="bg rounded"
                            src="static/img/boxes.jpg" width="250"
                            height="200" img>
                        <div class="mt-3">
                            <a href="#" class="fw-bold">How to promote brands</a>
                            <p class="text-muted">When you enter into any new area of science, you almost reach</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <img alt="shipping" class="bg rounded"
                            src="img/ship.jpg" width="250"
                            height="200" img>
                        <div class="mt-3">
                            <a class="fw-bold">How we handle shipping</a>
                            <p class="text-muted">When you enter into any new area of science, you almost reach</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <img alt="fruit" class="bg rounded"
                            src="img/fruit.jpg" width="250"
                            height="200" img>
                        <div class="mt-3">
                            <a class="fw-bold">How to promote brands</a>
                            <p class="text-muted">When you enter into any new area of science, you almost reach</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <img alt="a girl with her laptop" class="bg rounded"
                            src="img/girl.jpg" width="250"
                            height="200" img>
                        <div class="mt-3">
                            <a class="fw-bold">Success story of sellers</a>
                            <p class="text-muted">When you enter into any new area of science, you almost reach</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>  -->

{% include "footer.html" %}