{% include "header.html" %}
    <div class="bg-success py-2">
        <div class="container px-4 px-lg-3 my-4">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{title}} books</h1>
            </div>
        </div>
    </div>
    <section class="py-4">
         <div class="py-5 px-3">
            <div class="container">
                <div class="row g-4">
                    {% for book in books %}
                        <div class="col-md-3 d-flex justify-content-center">
                            <div class="card" style="width: 19rem;">
                                {% if book.sale_price is not none: %}
                                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                {% endif %}
                                <img alt="Book" class="img mx-auto d-block mt-3" src="{{ book.img_url }}" width="130px" height="185px">
                                <div class="card-body">
                                    <hr>
                                    {% if book.sale_price is not none: %}
                                        <h5 style="display: inline-block;">${{book.sale_price}}</h5>
                                        <h6 class="card-title text-muted text-decoration-line-through" style="display: inline-block;">${{ book.price }}</h6>
                                    {% else: %}
                                        <h5 class="card-title">${{ book.price }}</h5>
                                    {% endif %}
<!--                                    <span class="text-muted text-decoration-line-through">$20.00</span>$18.00-->
                                    <h6 class="card-subtitle mb-2 fw-bold">{{ book.title }}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ book.format }}</h6>
                                    <div class="d-flex align-items-center">
                                    <form action="/add-to-cart" method="post" class="mb-0">
                                        <input type="hidden" name="item_id" value="{{book.id}}">
                                        <button type="submit" role="button" class="btn btn-success card-link py-2 px-4">Add to cart</button>
                                    </form>
                                    <form action="/add-to-wishlist" method="post" class="mb-0 px-4">
                                        <input type="hidden" name="item_id" value="{{book.id}}">
                                        <button type="submit" role="button" title="Add to wishlist" class="btn btn-outline-warning card-link ml-2">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% include "footer.html" %}