{% include "header.html" %}
        <!-- Product section-->
        <section class="py-4">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="img mb-5 mb-md-0" src="{{book.img_url}}" width="200px" height="305px"/>
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">{{book.title}}</h1>
                        <div class="fs-5 mb-5">
                            {% if book.old_price is not none: %}
                                <h5 style="display: inline-block;">${{ book.price|two_decimal }}</h5>
                                <h6 class="card-title text-muted text-decoration-line-through" style="display: inline-block;">${{ book.old_price|two_decimal }}</h6>
                            {% else: %}
                                <h5 class="card-title">${{ book.price|two_decimal }}</h5>
                            {% endif %}
                        </div>
                        <p class="lead" style="font-size: 18px">{{book.description}}</p>
                        <div class="d-flex align-items-center">
                            <form action="/add-to-cart" method="post" class="mb-0">
                                <input type="hidden" name="item_id" value="{{book.id}}">
                                <button type="submit" role="button" class="btn btn-success card-link py-2 px-4">Add to cart</button>
                            </form>
                            <form action="/add-to-wishlist" method="post" class="mb-0 px-4">
                                <input type="hidden" name="item_id" value="{{book.id}}">
                                <button type="submit" role="button" title="Add to wishlist" class="btn btn-outline-warning card-link ml-2">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 px-3 bg-light">
            <div class="container">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% include "cards.html" %}
                </div>
            </div>
        </section>
{% include "footer.html" %}